@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans m-0 p-0 overflow-hidden;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
  background: #f8fafc;
}

/* Custom scrollbar for better UX */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
